<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
        <link rel='stylesheet' href='/font/css/open-iconic-bootstrap.css' />
        <script src="/javascripts/jquery/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <% include header.ejs %>
        <div class="tab-content">
            <div class="tab-pane active" id="image" role="tabpanel">
                <div id="dropin" class="container-fluid">
                    <div class="row">
                        <div class="col-2 text-nowrap text-truncate">REPOSITORY</div>
                        <div class="col-1 text-nowrap text-truncate">TAG</div>
                        <div class="col-2 text-nowrap text-truncate">IMAGE ID</div>
                        <div class="col-2 text-nowrap text-truncate">CREATED</div>
                        <div class="col-1 text-nowrap text-truncate">SIZE</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="process" role="tabpanel">
                <div id="docker_ps" class="container-fluid">
                    <div class="row">
                        <div class="col-2 text-nowrap text-truncate">CONTAINER ID</div>
                        <div class="col-2 text-nowrap text-truncate">IMAGE</div>
                        <div class="col-2 text-nowrap text-truncate">COMMAND</div>
                        <div class="col-2 text-nowrap text-truncate">CREATED</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="volume" role="tabpanel">
                <div id="docker_volume" class="container-fluid">
                    <div class="row">
                        <div class="col-2 text-nowrap text-truncate">DRIVER</div>
                        <div class="col-2 text-nowrap text-truncate">VOLUME NAME</div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer.ejs %>
        <script>
            function docker_volume() {
                $('#docker_volume .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/volume/ls',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        console.log(result);
                        var c = result.images.length;
                        for (var i = 0; i < c; i++) {
                            $('#docker_volume').append('<div class="row">'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][1]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][2]+'</div>'+
                            '</div>');
                        }
                    }
                });
            }

            function docker_ps() {
                $('#docker_ps .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/ps/all',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        var c = result.images.length;
                        for (var i = 0; i < c; i++) {
                            $('#docker_ps').append('<div class="row">'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][1]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][2]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][3]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][4]+'</div>'+
                            '</div>');
                        }
                    }
                });
            };

            function docker_images() {
                $('#dropin .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/images',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        // REPOSITORY-TAG-IMAGE ID-CREATED-SIZE
                        var c = result.images.length;
                        for (var i = 0; i < c; i++) {
                            $('#dropin').append(
                                '<div class="row">'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][0]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][1]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][2]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][3]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][4]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+
                                    '<a href=""><span class="oi oi-cloud-download"></span></a> '+
                                    '<a href=""><span class="oi oi-trash"></span></a> '+
                                '</div>'+
                                '</div>');
                        }
                    }
                });
            };
            $('#tab_image').on('click', function () {docker_images()});
            $('#tab_ps').on('click', function () {docker_ps()});
            $(function () {
                docker_images();
            });
        </script>
        <script src="/javascripts/popper.js/dist/umd/popper.min.js"></script>
        <script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
