<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
        <link rel='stylesheet' href='/font/css/open-iconic-bootstrap.css' />
        <script src="/javascripts/jquery/jquery-3.2.1.min.js"></script>
        <script src="/javascripts/json2table/dist/jquery.jsontotable.min.js"></script>
    </head>
    <body>
        <% include header.ejs %>
        <div class="tab-content">
            <div class="tab-pane active" id="image" role="tabpanel">
                <div id="dropin" class="container-fluid">
                    <div class="row">
                        <div class="col-2 text-nowrap text-truncate">REPOSITORY</div>
                        <div class="col-1 text-nowrap text-truncate">TAG</div>
                        <div class="col-2 text-nowrap text-truncate">IMAGE ID</div>
                        <div class="col-2 text-nowrap text-truncate">CREATED</div>
                        <div class="col-1 text-nowrap text-truncate">SIZE</div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="run" role="tabpanel">
                <form>
                <div id="docker_run" class="container-fluid">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <label for="image" class="col-1 col-form-label">Image:</label>
                        <div class="col-2 text-nowrap text-truncate">
                            <select class="form-control" id="run_image">
                                <option hidden>Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <label for="network" class="col-1 col-form-label">Network:</label>
                        <div class="col-2 text-nowrap text-truncate"><select id="run_network" class="form-control"><option value="">Default</option></select></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate"><input class="form-control" type="checkbox" id="rm"></div>
                        <label for="rm" class="col-3 form-check-label">Remove process when exited</label>
                    </div>
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate"><input class="form-control" type="checkbox" id="privileges"></div>
                        <label for="privileges" class="col-3 form-check-label">Give extended privileges to this container</label>
                    </div>
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate"><button id="execute_run" type="button" class="btn btn-primary">Run</button></div>
                    </div>
                </div>
                </form>
            </div>

            <div class="tab-pane" id="process" role="tabpanel">
                <div id="docker_ps" class="container-fluid">
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate">CONTAINER ID</div>
                        <div class="col-1 text-nowrap text-truncate">IMAGE</div>
                        <div class="col-1 text-nowrap text-truncate">COMMAND</div>
                        <div class="col-1 text-nowrap text-truncate">RUNNING FOR</div>
                        <div class="col-1 text-nowrap text-truncate">PORT</div>
                        <div class="col-1 text-nowrap text-truncate">STATUS</div>
                        <div class="col-1 text-nowrap text-truncate">NAME</div>
                        <div class="col-1 text-nowrap text-truncate">LABEL</div>
                        <div class="col-1 text-nowrap text-truncate">MOUNT</div>
                        <div class="col-1 text-nowrap text-truncate">NETWORK</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="volume" role="tabpanel">
                <div id="docker_volume" class="container-fluid">
                    <div class="row">
                        <div class="col-2 text-nowrap text-truncate">DRIVER</div>
                        <div class="col-2 text-nowrap text-truncate">VOLUME NAME</div>
                        <div class="col-2 text-nowrap text-truncate">SCOPE</div>
                        <div class="col-2 text-nowrap text-truncate">MOUNT POINT</div>
                        <div class="col-2 text-nowrap text-truncate">LABEL</div>
                    </div>
                </div>
                <div class="row">&nbsp</div>
                <div class="row">
                    <div class="col"><button id="volume_pruneAll" type="button" class="btn btn-primary">Prune All</button></div>
                </div>
            </div>
            <div class="tab-pane" id="network" role="tabpanel">
                <div id="docker_network" class="container-fluid">
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate">CONTAINER ID</div>
                        <div class="col-1 text-nowrap text-truncate">NAME</div>
                        <div class="col-1 text-nowrap text-truncate">DRIVER</div>
                        <div class="col-1 text-nowrap text-truncate">SCOPE</div>
                        <div class="col-1 text-nowrap text-truncate">INTERNAL</div>
                        <div class="col-1 text-nowrap text-truncate">LABEL</div>
                        <div class="col-1 text-nowrap text-truncate">CREATE AT</div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer.ejs %>
        <script>
            var imageTag = {};
            var networkTag = {};

            function docker_network(params) {
                $('#docker_network .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/network/ls',
                    dataType: 'json',
                    cache: true,
                    async: params.async,
                    success: function (result) {
                        var c = result.images.length;
                        networkTab = {};
                        for (var i = 0; i < c; i++) {
                            networkTab[result.images[i]['ID']] = result.images[i]['Name'];
                            $('#docker_network').append('<div class="row">'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['ID']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['Name']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['Driver']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['Scope']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['Internal']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['Labels']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['CreatedAt']+'</div>'+
                            '</div>');
                        }
                    }
                })
            }

            function docker_volume() {
                $('#docker_volume .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/volume/ls',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        var c = result.images.length;
                        var icon = '<a href="#" class="volume_rm"><span class="oi oi-trash"></span></a>';
                        for (var i = 0; i < c; i++) {
                            $('#docker_volume').append('<div class="row">'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['Driver']+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['Name']+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['Scope']+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['Mountpoint']+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['Labels']+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate" data-id="'+result.images[i]['Name']+'">'+icon+'</div>'+
                            '</div>');
                        }
                    }
                });
            }

            function docker_ps() {
                $('#docker_ps .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/ps/all/',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        var c = result.images.length;
                        var exit_regex = /^Exited \(0\)/;
                        var up_regex = /^Up /;
                        var pause_regex = /^Up\s.+\s\(Paused\)$/;
                        for (var i = 0; i < c; i++) {
                            var warning = '';
                            var icon = '<span class="oi oi-reload"></span> <span class="oi oi-media-play"></span> <span class="oi oi-media-stop"></span> <span class="oi oi-media-pause"></span> <span class="oi oi-trash"></span>'
                            if (exit_regex.test(result.images[i]['Status'])) {
                                warning = 'alert alert-danger';
                                icon = '<a href="#" class="process_reload"><span title="reload" class="oi oi-reload"></span></a> <a href="#" class="process_kill"><span title="remove" class="oi oi-trash"></span></a>';
                            };

                            if (up_regex.test(result.images[i]['Status'])) {
                                if (pause_regex.test(result.images[i]['Status'])) {
                                    warning = 'alert alert-warning';
                                    icon = '<a href="#"><span title="play" class="oi oi-media-play"></span></a>';
                                } else {
                                    warning = 'alert alert-success';
                                    icon = '<a href="#" class="process_reload"><span title="reload" class="oi oi-reload"></span></a> <a href="#" class="process_stop"><span title="stop" class="oi oi-media-stop"></span></a> <a href="#" class="process_pause"><span title="suspend" class="oi oi-media-pause"></span></a></span>';
                                }
                            };

                            $('#docker_ps').append('<div class="row '+warning+'">'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['ID']+'">'+result.images[i]['ID']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['Image']+'">'+result.images[i]['Image']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="">'+result.images[i]['Command']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['RunningFor']+'">'+result.images[i]['RunningFor']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['Ports']+'">'+result.images[i]['Ports']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['Status']+'"'+result.images[i]['Status']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['Names']+'">'+result.images[i]['Names']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['Labels']+'">'+result.images[i]['Labels']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['Mounts']+'">'+result.images[i]['Mounts']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate"><span title="'+result.images[i]['Networks']+'">'+result.images[i]['Networks']+'</span></div>'+
                                '<div class="col-1 text-nowrap text-truncate" data-id="'+result.images[i]['ID']+'">'+icon+'</div>'+
                            '</div>');
                        }
                    }
                });
            };

            function docker_images() {
                $('#dropin .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/images/',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        // REPOSITORY-TAG-IMAGE ID-CREATED-SIZE
                        var c = result.images.length;
                        imageTab = {};
                        for (var i = 0; i < c; i++) {
                            imageTab[result.images[i]['ID']] = result.images[i]['Repository']+':'+result.images[i]['Tag'];
                            $('#dropin').append(
                                '<div class="row">'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['Repository']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['Tag']+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['ID']+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i]['CreatedSince']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i]['Size']+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+
                                    '<a href=""><span class="oi oi-cloud-download"></span></a> '+
                                    '<a href="#" class="images_rmi" data-id="'+result.images[i]['ID']+'"><span class="oi oi-trash"></span></a> '+
                                '</div>'+
                                '</div>');
                        };
                    }
                });
            };

            function docker_run() {
                // run_image
                // Assume that we already got a list of images because that was run by default
                $('#run_image option').not(':first').remove();
                for (var k in imageTab) {
                    if (imageTab.hasOwnProperty(k)) {
                        $('#run_image').append($('<option>', {value: k, text: imageTab[k]}));
                    }
                };
                // list of network - no guarrentee - so it need to be checked if not run docker_network;
                if (typeof networkTab === 'undefined' || $.isEmptyObject(networkTab)) {
                        docker_network({async: false});
                };
                $('#run_network option').not(':first').remove();
                for (var k in networkTab) {
                    if (networkTab.hasOwnProperty(k)) {
                        $('#run_network').append($('<option>', {value: k, text: networkTab[k]}));
                    }
                }

            };

            $('#tab_image').on('click', function () {docker_images()});
            $('#tab_ps').on('click', function () {docker_ps()});
            $('#tab_volume').on('click', function () {docker_volume()});
            $('#tab_network').on('click', function () {docker_network({async:true})});
            $('#tab_run').on('click', function () {docker_run()});
            $('#execute_run').on('click', function (e) {
                e.preventDefault();
                $.ajax({
                    url: '/docker/run/'+$('#run_image').val(),
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        console.log(result);
                    }
                })
            });

            $('#docker_ps').on('click', '.process_stop', function () {
                $.ajax({
                    url: '/docker/stop/'+$(this).parent().data('id'),
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        docker_ps();
                    }
                });
            });

            $('#docker_ps').on('click', '.process_pause', function () {
                $.ajax({
                    url: '/docker/pause/'+$(this).parent().data('id'),
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        docker_ps();
                    }
                });
            });

            $('#docker_ps').on('click', '.process_reload', function () {
                $.ajax({
                    url: '/docker/restart/'+$(this).parent().data('id'),
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        docker_ps();
                    }
                });
            });

            $('#docker_ps').on('click', '.process_kill', function () {
                $.ajax({
                    url: '/docker/rm/'+$(this).parent().data('id'),
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        if (result.success) {
                            // successful
                        }
                        docker_ps();
                    }
                });
            });
            $('#dropin').on('click', '.images_rmi', function () {
                $.ajax({
                    url: '/docker/rmi/'+$(this).parent().data('id'),
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        docker_images()
                    }
                });
            })
            $('#docker_volume').on('click', '.volume_rm', function () {
                var validate = confirm("Are you sure you want to remove\n\n"+$(this).parent().data('id')+"\n");
                if (validate) {
                    $.ajax({
                        url: '/docker/volume/rm/'+$(this).parent().data('id'),
                        dataType: 'json',
                        cache: true,
                        success: function (result) {
                            docker_volume();
                        }
                    });
                }
            });

            $('#volume_pruneAll').on('click', function(e) {
                e.preventDefault();
                var validate = confirm ("Are you sure\nyou want to prune all?");
                if (validate) {
                    $.ajax({
                        url: '/docker/volume/prune',
                        dataType: 'json',
                        cache: true,
                        success: function (result) {
                            docker_volume();
                        }
                    });
                }
            })
            $(function () {
                docker_images();
            });
        </script>
        <script src="/javascripts/popper.js/dist/umd/popper.min.js"></script>
        <script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
