<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
        <title><%= title %></title>
        <link rel='stylesheet' href='/stylesheets/style.css' />
        <link rel="stylesheet" href="/javascripts/bootstrap/css/bootstrap.min.css">
        <link rel='stylesheet' href='/font/css/open-iconic-bootstrap.css' />
        <script src="/javascripts/jquery/jquery-3.2.1.min.js"></script>
    </head>
    <body>
        <% include header.ejs %>
        <div class="tab-content">
            <div class="tab-pane active" id="image" role="tabpanel">
                <div id="dropin" class="container-fluid">
                    <div class="row">
                        <div class="col-2 text-nowrap text-truncate">REPOSITORY</div>
                        <div class="col-1 text-nowrap text-truncate">TAG</div>
                        <div class="col-2 text-nowrap text-truncate">IMAGE ID</div>
                        <div class="col-2 text-nowrap text-truncate">CREATED</div>
                        <div class="col-1 text-nowrap text-truncate">SIZE</div>
                    </div>
                </div>
            </div>

            <div class="tab-pane" id="run" role="tabpanel">
                <form>
                <div id="docker_run" class="container-fluid">
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <label for="image" class="col-1 col-form-label">Image:</label>
                        <div class="col-2 text-nowrap text-truncate">
                            <select class="form-control" id="run_image">
                                <option hidden>Select One</option>
                            </select>
                        </div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <label for="network" class="col-1 col-form-label">Network:</label>
                        <div class="col-2 text-nowrap text-truncate"><select id="run_network" class="form-control"><option value="">Default</option></select></div>
                    </div>
                    <div class="row">&nbsp;</div>
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate"><input class="form-control" type="checkbox" id="rm"></div>
                        <label for="rm" class="col-3 form-check-label">Remove process when exited</label>
                    </div>
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate"><input class="form-control" type="checkbox" id="privileges"></div>
                        <label for="privileges" class="col-3 form-check-label">Give extended privileges to this container</label>
                    </div>
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate"><button type="button" class="btn btn-primary">Run</button></div>
                    </div>
                </div>
                </form>
            </div>

            <div class="tab-pane" id="process" role="tabpanel">
                <div id="docker_ps" class="container-fluid">
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate">CONTAINER ID</div>
                        <div class="col-1 text-nowrap text-truncate">IMAGE</div>
                        <div class="col-1 text-nowrap text-truncate">COMMAND</div>
                        <!--div class="col-1 text-nowrap text-truncate">CREATED AT</div>-->
                        <div class="col-1 text-nowrap text-truncate">RUNNING FOR</div>
                        <div class="col-1 text-nowrap text-truncate">PORT</div>
                        <div class="col-1 text-nowrap text-truncate">STATUS</div>
                        <!-- div class="col-1 text-nowrap text-truncate">SIZE</div -->
                        <div class="col-1 text-nowrap text-truncate">NAME</div>
                        <div class="col-1 text-nowrap text-truncate">LABEL</div>
                        <div class="col-1 text-nowrap text-truncate">MOUNT</div>
                        <div class="col-1 text-nowrap text-truncate">NETWORK</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="volume" role="tabpanel">
                <div id="docker_volume" class="container-fluid">
                    <div class="row">
                        <div class="col-2 text-nowrap text-truncate">DRIVER</div>
                        <div class="col-2 text-nowrap text-truncate">VOLUME NAME</div>
                        <div class="col-2 text-nowrap text-truncate">SCOPE</div>
                        <div class="col-2 text-nowrap text-truncate">MOUNT POINT</div>
                        <div class="col-2 text-nowrap text-truncate">LABEL</div>
                    </div>
                </div>
            </div>
            <div class="tab-pane" id="network" role="tabpanel">
                <div id="docker_network" class="container-fluid">
                    <div class="row">
                        <div class="col-1 text-nowrap text-truncate">CONTAINER ID</div>
                        <div class="col-1 text-nowrap text-truncate">NAME</div>
                        <div class="col-1 text-nowrap text-truncate">DRIVER</div>
                        <div class="col-1 text-nowrap text-truncate">SCOPE</div>
                        <div class="col-1 text-nowrap text-truncate">INTERNAL</div>
                        <div class="col-1 text-nowrap text-truncate">LABEL</div>
                        <div class="col-1 text-nowrap text-truncate">CREATE AT</div>
                    </div>
                </div>
            </div>
        </div>
        <% include footer.ejs %>
        <script>
            var imageTag = {};
            var networkTag = {};

            function docker_network(params) {
                $('#docker_network .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/network/ls',
                    dataType: 'json',
                    cache: true,
                    async: params.async,
                    success: function (result) {
                        var c = result.images.length;
                        networkTab = {};
                        for (var i = 0; i < c; i++) {
                            networkTab[result.images[i][0]] = result.images[i][1];
                            $('#docker_network').append('<div class="row">'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][0]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][1]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][2]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][3]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][4]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][5]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][6]+'</div>'+
                            '</div>');
                        }
                    }
                })
            }

            function docker_volume() {
                $('#docker_volume .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/volume/ls',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        var c = result.images.length;
                        for (var i = 0; i < c; i++) {
                            $('#docker_volume').append('<div class="row">'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][0]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][1]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][2]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][3]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][4]+'</div>'+
                            '</div>');
                        }
                    }
                });
            }

            function docker_ps() {
                $('#docker_ps .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/ps/all',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        var c = result.images.length;
                        var exit_regex = /^Exited \(0\)/;
                        var up_regex = /^Up /;
                        for (var i = 0; i < c; i++) {
                            var warning = '';
                            var icon = '<span class="oi oi-reload"></span> <span class="oi oi-media-play"></span> <span class="oi oi-media-stop"></span> <span class="oi oi-media-pause"></span> <span class="oi oi-trash"></span>'
                            if (exit_regex.test(result.images[i][6])) {
                                warning = 'alert alert-danger';
                                icon = '<span class="oi oi-reload"></span> <a href="#" class="process_kill"><span class="oi oi-trash"></span></a>';
                            };

                            if (up_regex.test(result.images[i][6])) {
                                warning = 'alert alert-success';
                                icon = '<a href=""><span class="oi oi-reload"></span></a> <a href=""><span class="oi oi-media-stop"></span></a> <a href=""><span class="oi oi-media-pause"></span></a></span>'
                            };

                            $('#docker_ps').append('<div class="row '+warning+'">'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][0]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][1]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][2]+'</div>'+
                                // CREATE_AT
                                // '<div class="col-1 text-nowrap text-truncate">'+result.images[i][3]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][4]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][5]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][6]+'</div>'+
                                // SIZE
                                // '<div class="col-1 text-nowrap text-truncate">'+result.images[i][7]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][8]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][9]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][10]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][11]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate" data-id="'+result.images[i][0]+'">'+icon+'</div>'+
                            '</div>');
                        }
                    }
                });
            };

            function docker_images() {
                $('#dropin .row').not('.row:first').remove();
                $.ajax({
                    url: '/docker/images',
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        // REPOSITORY-TAG-IMAGE ID-CREATED-SIZE
                        var c = result.images.length;
                        imageTab = {};
                        for (var i = 0; i < c; i++) {
                            imageTab[result.images[i][2]] = result.images[i][0]+':'+result.images[i][1];
                            $('#dropin').append(
                                '<div class="row">'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][0]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][1]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][2]+'</div>'+
                                '<div class="col-2 text-nowrap text-truncate">'+result.images[i][3]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+result.images[i][4]+'</div>'+
                                '<div class="col-1 text-nowrap text-truncate">'+
                                    '<a href=""><span class="oi oi-cloud-download"></span></a> '+
                                    '<a href=""><span class="oi oi-trash"></span></a> '+
                                '</div>'+
                                '</div>');
                        };
                    }
                });
            };

            function docker_run() {
                // run_image
                // Assume that we already got a list of images because that was run by default
                $('#run_image option').not(':first').remove();
                for (var k in imageTab) {
                    if (imageTab.hasOwnProperty(k)) {
                        $('#run_image').append($('<option>', {value: k, text: imageTab[k]}));
                    }
                };
                // list of network - no guarrentee - so it need to be checked if not run docker_network;
                if (typeof networkTab === 'undefined' || $.isEmptyObject(networkTab)) {
                        docker_network({async: true});
                };
                for (var k in networkTab) {
                    if (networkTab.hasOwnProperty(k)) {
                        $('#run_network').append($('<option>', {value: k, text: networkTab[k]}));
                    }
                }

            };

            $('#tab_image').on('click', function () {docker_images()});
            $('#tab_ps').on('click', function () {docker_ps()});
            $('#tab_volume').on('click', function () {docker_volume()});
            $('#tab_network').on('click', function () {docker_network({async:false})});
            $('#tab_run').on('click', function () {docker_run()});
            $('#docker_ps').on('click', '.process_kill', function () {
                $.ajax({
                    url: '/docker/rm/'+$(this).parent().data('id'),
                    dataType: 'json',
                    cache: true,
                    success: function (result) {
                        if (result.success) {
                            // successful
                        }
                        docker_ps();
                    }
                });
            });
            $(function () {
                docker_images();
            });
        </script>
        <script src="/javascripts/popper.js/dist/umd/popper.min.js"></script>
        <script src="/javascripts/bootstrap/js/bootstrap.min.js"></script>
    </body>
</html>
